/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my css */



body {
	/*font-family: "balboa-plus-primary",sans-serif;
	font-size: 1rem;
	letter-spacing: .2px;*/

	min-width:600px;
	flex-direction: column;
	align-items: center;
	/*background-image: url('/images/45rpm-background1.jpg');
	background-size:cover;*/

}

header {
	min-width:600px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
	background-color: black;
	color: white;
}

h1 {
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 1rem;
	letter-spacing: .2px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 4rem;
}

.img {
	margin-bottom: 30px;
	padding-bottom: 30px;

}


.message {
	display: none;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: Arial;
	font-size: 1rem;
	color: #3C763D;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	border-radius: 4px;
	padding: 10px;

}
.message strong {
	font-weight: bold;
}
.container {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;

}
table {
	font-family: Arial;
	margin: 10px;
	border:1px solid #999
}

thead {
	border:1px solid #999
}

th, td {
	padding: 5px;

}

th {
	font-weight:bold;
}

img {
padding-top: 50px;
padding-bottom: 50px;

}
form span ,
form input,
form button {
	margin-top:20px;
	font-size: 2rem;
}



form input,
form button {
	margin-top:
	border-width: 2px;
	border-radius: 30px;
	background-color: #DCDCDC;
}
button {
	border-radius: 30px;
	font-family: "balboa-plus-primary",sans-serif;
	background-color: #DCDCDC;
}

button a {
	text-decoration: none;
	color:#000;
}

footer {
	min-width:600px;
	padding-top:20px;
	padding-bottom:20px;
	margin-top: 200px;
	margin-bottom:20px;
	background-color: black;
	color: white;
	content: "&copy; Jana Winter";
}
section {
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 1rem;
	letter-spacing: .2px;
}

.results-table {
	font-family: Arial;

}
/*zebra striping*/
tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}
.export {
		font-family: Arial;
}
.release-id {
	display: none;
}
.collection-button {
	position: absolute;
	top: 33px;
	right: 140px;
	font-size: 1.5rem;
}
.back-button {
	position: absolute;
	top: 33px;
	right: 140px;
	font-size: 1.5rem;
}
